@(list: List[QRCode],qrcodeForm: Form[QRCode])(implicit flash: Flash)

@import helper._

@geraTextoQrcode(q:QRCode) = {SERPRO#@q.tipo#@q.id#@q.textoQrCode}
<script>
    function gerarQRCode() {
    }
</script>

@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.f) }

@main("Formulário de QR Code's") {
    <h1>@list.size QRCode(s)</h1>

    <table class="table table-striped table-bordered footable">
        <thead>
        <tr>
            @footable_header(title = "#", expand = true)
            @footable_header(title = "Texto", sort = true)
            @footable_header(title = "Tipo", sort = true)
            @footable_header(title = "Resposta", hideDevices = "phone")
            @footable_header(title = "Alternativa 1", hideDevices = "phone,tablet")
            @footable_header(title = "Alternativa 2", hideDevices = "phone,tablet")
            @footable_header(title = "Alternativa 3", hideDevices = "phone,tablet")
            @footable_header(title = "Pontuação", hideDevices = "phone", sort = true)
            @footable_header(title = "QR-Code")
            @footable_header(title = "Ações")
        </tr>
        </thead>
        <tbody>
        @list.map{ q =>
            <tr>
                <td data-class="expand">@q.id</td>
                <td>@q.texto</td>
                <td>@q.tipo</td>
                <td data-hide="phone,tablet">@q.resposta</td>
                <td data-hide="phone,tablet">@q.alternativa1</td>
                <td data-hide="phone,tablet">@q.alternativa2</td>
                <td data-hide="phone,tablet">@q.alternativa3</td>
                <td>@q.pontuacao</td>
                <td>
                    <form name="qrForm@q.id.get" action="/qrcode/render" method="post">
                    <input type="hidden" id="texto@q.id.get" name="texto" value="@geraTextoQrcode(q)"/>
                    <input type="hidden" name="size" value="320"/>
                    <div id="qr@q.id" onclick="document.forms['qrForm@q.id'].submit();"></div>
                    </form>
                </td>
                <td>
                    @form(routes.Application.deleteQRCode(q.id.get)) {
                        <input type="submit" value="   Delete    " class="btn btn-danger" onclick="return confirm('Tem certeza?');" />
                    }
                    @if(q.tipo.startsWith("DESAFIO")){
                    <p>
                        <a href="/todasrespostas/@q.id" class="btn btn-info" />Respostas</a>
                    </p>
                    }                    
                </td>
                <script>
                    $('#qr@q.id').qrcode({
                        width: 64,
                        height: 64,
                        text: '@geraTextoQrcode(q)'
                    });
                </script>
            </tr>
        }
        </tbody>
    </table>

    @form(routes.Application.gerarQRCode, 'class -> "form-horizontal") {
        <fieldset>
            <legend><strong>Incluir QR-Code</strong></legend>
                    
                @qrcodeForm.globalError.map { error =>
                <div class="alert alert-error">
                    @error.message
                </div>
                }

                @flash.get("success").map { message =>
                <div class="alert alert-success">
                    @message
                </div>
                }            
                
                @textarea(qrcodeForm("texto"), '_label -> "Texto")
                @select(qrcodeForm("tipo"),
                options("INFO"->"Info","URL"->"URL","DESAFIO"->"Desafio","DESAFIOME"->"Desafio Multipla Escolha"),
                '_label -> "Tipo", '_id->"tipo", 'onchange->"verificaTipo()")

                <div id="desafio">
                    @textarea(qrcodeForm("resposta"), '_label -> "Resposta")
                </div>
                <div id="desafioMultiplaEscolha">
                    <input type="hidden" id="random" name="random" value="0"/>
                    @textarea(qrcodeForm("alternativa1"), '_label -> "Alternativa 1")
                    @textarea(qrcodeForm("alternativa2"), '_label -> "Alternativa 2")
                    @textarea(qrcodeForm("alternativa3"), '_label -> "Alternativa 3")
                </div>
                <div id="pontuacao">
                    @inputText(qrcodeForm("pontuacao"), '_label -> "Pontuação")
                </div>

                <script>
                    function verificaTipo(){
                       if($('#tipo').val() == "DESAFIO"){
                           $('#desafio').show();
                           $('#pontuacao').show();
                           $('#desafioMultiplaEscolha').hide();
                       }else{
                           if($('#tipo').val() == "DESAFIOME"){
                               $('#desafio').show();
                               $('#desafioMultiplaEscolha').show();
                               $('#pontuacao').show();
                           }else{
                               $('#desafio').hide();
                               $('#pontuacao').hide();
                               $('#desafioMultiplaEscolha').hide();
                           }
                       }
                    }
                    $('#desafio').hide();
                    $('#pontuacao').hide();
                    $('#desafioMultiplaEscolha').hide();

                </script>


                <!-- Button -->
                <div class="form-actions">
                    <input type="submit" value="Incluir" class="btn btn-primary">
                </div>
            </legend>
        </fieldset>
    }
}
