@(list: List[Seq[Any]])

@import helper._

@header(title: String) = {
<th>
    @title
</th>
}


@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.f) }

@main("Ranking") {
    <h1>@list.size Participantes(s)</h1>

    <table class="table table-striped table-bordered">
        <thead>
        <tr>
            @header("Nome")
            @header("E-mail")
            @header("Telefone")
            @header("Pontuação")
            @header("Ações")
        </tr>
        </thead>
        <tbody>

        @list.map{ case(Seq(email,nome,telefone,pontuacao)) =>
            <tr>
                <td>@nome</td>
                <td><a href="/respostas/@email">@email</a></td>
                <td>@telefone</td>
                <td>@pontuacao</td>
                <td><a href="/respostas/@email" class="btn btn-info" />Ver Respostas</a></td>
            </tr>
        }
        </tbody>
    </table>





}
