@(list: List[Seq[Any]], nome:String, pontuacao: Int)

@import helper._

@header(title: String) = {
<th>
    @title
</th>
}


@main("Respostas por usuário") {
<h1>@list.size Respostas de @nome</h1>

<table class="table table-striped table-bordered">
    <thead>
    <tr>
        @header("#")
        @header("Desafio")
        @header("Resposta")
        @header("Pontuação")
        @header("Data/Hora")
    </tr>
    </thead>
    <tbody>
    @list.map{case(Seq(idQrCode,desafio,email,resposta,pontuacao,ultima_atualizacao)) =>
    <tr>
        <td>@idQrCode</td>
        <td>@desafio</td>
        <td>@resposta</td>
        <td>@pontuacao</td>
        <td>@ultima_atualizacao</td>
    </tr>
    }
    @if(pontuacao != -1) {
    <tr>
        <td colspan="4"><strong>Total Pontos</strong></td>
        <td>@pontuacao</td>
    </tr>
    }
    </tbody>
</table>





}